/*@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');*/
/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  .links {
    @apply cursor-pointer;
  }

  .font-display {
    @apply tracking-tight;
  }


}

.logo {
	 position: fixed;
	 top: 20px;
	 left: 40px;
}

.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  user-select: none;
}

.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:rgb(24 24 27);
  stroke-width:5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}

.active-top {
	stroke-dashoffset: -98px;
}

.active-bottom {
	stroke-dashoffset: -138px;
}

.active-rotate {
	transform: rotate(45deg);
}
